@media (max-width: 985px) {
    .yellow-location {
        margin: -75px;
    }

    .orange-location {
        margin: -65px;
    }
}

@media (max-width: 910px) {
    section {
        height: 68vh;
    }

    .container {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .yellow-location {
        margin: -105px;
        height: 40%;
    }

    .blue-location {
        height: 55%;
    }

    .orange-location {
        height: 46%;
        margin: -100px;
    }
}

@media (max-height: 1180px) {
    section {
        height: 75vh;
    }
}

@media (max-height: 1024px) {
    section {
        height: 85vh;
    }
}

@media (max-height: 932px) {
    section {
        height: 90vh;
    }

    .container {
        flex-direction: column-reverse;
        gap: 20px;
    }
}

@media (max-height: 896px) {
    section {
        height: 85vh;
    }

    .container {
        gap: 10px;
    }

    .yellow-location {
        margin: -85px;
        height: 50%;
    }

    .blue-location {
        height: 60%;
    }

    .orange-location {
        height: 50%;
        margin: -70px;
    }
}

@media (max-height: 844px) {
    section {
        height: 89vh;
    }

    .container {
        gap: 10px;
    }

    .yellow-location {
        margin: -85px;
        height: 50%;
    }

    .blue-location {
        height: 60%;
    }

    .orange-location {
        height: 50%;
        margin: -70px;
    }
}

@media (max-height: 768px) {
    section {
        height: 100vh;
    }

    .container {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .yellow-location {
        margin: -100px;
        height: 55%;
    }

    .orange-location {
        height: 55%;
        margin: -85px;
    }
}

@media (max-height: 740px) {
    section {
        height: 95vh;
    }

    .container {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .yellow-location {
        margin: -60px;
        height: 50%;
    }

    .blue-location {
        height: 60%;
    }

    .orange-location {
        height: 50%;
        margin: -50px;
    }
}

@media (max-height: 667px) {
    section {
        height: 110vh;
    }

    .container {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .yellow-location {
        margin: -65px;
        height: 46%;
    }

    .blue-location {
        height: 60%;
    }

    .orange-location {
        height: 50%;
        margin: -60px;
    }
}

@media (max-height: 658px) {
    section {
        height: 116vh;
    }

    .container {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .yellow-location {
        margin: -80px;
        height: 50%;
    }

    .blue-location {
        height: 60%;
    }

    .orange-location {
        height: 50%;
        margin: -50px;
    }
}

@media (max-height: 430px) {
    section {
        height: 190vh;
    }

    .yellow-location {
        margin: -110px;
        height: 50%;
    }

    .orange-location {
        height: 50%;
        margin: -105px;
    }
}

@media (max-height: 414px) {
    section {
        height: 200vh;
    }

    .yellow-location {
        margin: -110px;
        height: 50%;
    }

    .orange-location {
        height: 50%;
        margin: -105px;
    }
}

@media (max-height: 390px) {
    section {
        height: 210vh;
    }

    .yellow-location {
        margin: -110px;
        height: 50%;
    }

    .orange-location {
        height: 50%;
        margin: -105px;
    }
}

@media (max-height: 375px) {
    section {
        height: 220vh;
    }

    .yellow-location {
        margin: -110px;
        height: 50%;
    }

    .orange-location {
        height: 50%;
        margin: -105px;
    }
}