<footer>
    <div class="container footer-nav">
        <div class="footer-item">
            <a href="#">Legal Notice</a>
            <img class="footer-hover-svg" src="/img/about-me-hover.svg" alt="hover" />
        </div>
        <div class="footer-item">
            <a href="#">Github</a>
            <img class="footer-hover-svg" src="/img/contact-hover.svg" alt="hover" />
        </div>
        <div class="footer-item">
            <a href="#">LinkedIn</a>
            <img class="footer-hover-svg" src="/img/skills-hover.svg" alt="hover" />
        </div>
        <div class="footer-item">
            <a href="#">Email</a>
            <img class="footer-hover-svg" src="/img/projects-hover.svg" alt="hover" />
        </div>
    </div>
</footer>