<section>
    <div class="first-box">
        <div>
            <h3>MY CRAFT</h3>
            <h1 class="fz-56">Projects</h1>
        </div>
        <span>
            Encourage people to take a look and interact with your projects.
            Highlight your approach to creating responsive, user-friendly projects with efficient code
        </span>
    </div>

    <div class="second-box">
        <div class="image-wrapper">
            <img src="/img/Laptop.png" alt="Laptop-Join">
            <div class="overlay">
                <button (click)="openOverlay(0)">Project details</button>
            </div>
        </div>
        <div>
            <h1>Join</h1>
            <span>Task manager inspired by the Kanban System.</span>
        </div>
    </div>

    <div class="third-box">
        <div class="image-wrapper">
            <img src="/img/el-pollo-loco.png" alt="El-Pollo-Loco">
            <div class="overlay">
                <button (click)="openOverlay(1)">Project details</button>
            </div>
        </div>
        <div>
            <h1>El Pollo Loco</h1>
            <span>Jump & Run Game.</span>
        </div>
    </div>

    <div class="fourt-box">
        <div class="image-wrapper">
            <img src="/img/join.png" alt="Slack Clone">
            <div class="overlay">
                <button (click)="openOverlay(2)">Project details</button>
            </div>
        </div>
        <div>
            <h1>Slack Clone</h1>
            <span>Slack-style collaboration app.</span>
        </div>
    </div>
</section>

<app-project-overlay *ngIf="showOverlay" [project]="projects[currentIndex]" (closeOverlay)="closeOverlay()"
    (nextProject)="goToNextProject()">
</app-project-overlay>