<header class="container">
    <div class="header">
        <img src="/img/AK_logo.png" class="logo">

        <nav class="navigation">
            <div class="nav-item">
                <a href="#about">{{ texts[currentLang].about }}</a>
                <img src="/img/about-me-hover.svg" class="hover-svg" alt="about hover">
            </div>
            <div class="nav-item">
                <a href="#skills">{{ texts[currentLang].skills }}</a>
                <img src="/img/skills-hover.svg" class="hover-svg" alt="skills hover">
            </div>
            <div class="nav-item">
                <a href="#projects">{{ texts[currentLang].projects }}</a>
                <img src="/img/contact-hover.svg" class="hover-svg" alt="projects hover">
            </div>
            <div class="nav-item">
                <a href="#contact">{{ texts[currentLang].contact }}</a>
                <img src="/img/projects-hover.svg" class="hover-svg" alt="contact hover">
            </div>
        </nav>

        <div class="language-switch">
            <span class="lang">DE</span>
            <label class="switch">
                <input type="checkbox" id="langToggle" (change)="switchLanguage()">
                <span class="slider"></span>
            </label>
            <span class="lang">EN</span>
        </div>
    </div>
</header>

