<header class="container">
    <div class="header">
        <img src="/img/AK_logo.png" class="logo">

        <nav class="navigation">
            <a href="#">About me</a>
            <a href="#">Skills</a>
            <a href="#">Projects</a>
            <a href="#">Contact</a>
        </nav>

        <div class="language-switch">
            <span class="lang">EN</span>
            <label class="switch">
                <input type="checkbox" id="langToggle">
                <span class="slider"></span>
            </label>
            <span class="lang">DE</span>
        </div>
    </div>
</header>