<div class="mobile-overlay" [class.active]="menuOpen">
        <div class="overlay-background"></div>
        <div class="overlay-header">
            <img src="/img/AK_logo.png" class="logo" />
            <img class="close-icon" (click)="toggleMenu()" src="/img/close-overlay.png" alt="close">
        </div>

        <div class="overlay-nav-container">
            <nav class="overlay-nav">
                <a href="#">About me</a>
                <a href="#">Skills</a>
                <a href="#">Projects</a>
                <a href="#">Contact</a>
            </nav>
        </div>


        <div class="language-switch">
            <span class="lang">EN</span>
            <label class="switch">
                <input type="checkbox" id="langToggle">
                <span class="slider"></span>
            </label>
            <span class="lang">DE</span>
        </div>

        <div class="linked-up-buttons-overlay">
            <div class="circle-button">
                <img src="/img/hero_linked_in.png" alt="LinkedIn">
            </div>

            <div class="circle-button">
                <img src="/img/hero_github.png" alt="GitHub">
            </div>

            <div class="circle-button">
                <img src="/img/hero_mail.png" alt="Mail">
            </div>
        </div>
    </div>