<section class="hero-section">
    <app-header-bar></app-header-bar>

    <div class="container">
        <div class="hero-content">
            <div class="hero-left">
                <button class="reveal-button">
                    <span class="default-text">Hello world</span>
                    <span class="hover-text">I'm Alpay Karacabey <span class="wave">👋</span></span>
                </button>
                <div class="frontend-img-row">
                    <h1>Frontend</h1>
                    <img class="rotate-img" src="/img/hero_alpay_img_filler.png">
                </div>
            </div>

            <div class="hero-right">
                <h1>Developer</h1>
                <button class="get-in-touch-btn">Get in Touch</button>
            </div>
        </div>

        <footer>
            <div>
                <img src="/img/hero_linked_in.png">
                <img src="/img/hero_github.png">
                <img src="/img/hero_mail.png">
            </div>
        </footer>
        
    </div>
</section>