.hero-section {
    background-image: url('/img/header_hero_____.png');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    padding: 250px 20px;
    margin: 0 auto;
    max-width: 1440px;
}

h1 {
    font-size: 150px;
    margin: 0;
    color: white;

    &:hover {
        color: yellow;
        text-transform: lowercase;
        cursor: default;

        span {
            text-transform: uppercase;
        }
    }
}

.hover-word {
    display: flex;
    gap: 2px;
    margin: 0;
    padding: 0;
    height: 150px;
    line-height: 1;

    span {
        cursor: default;
        transition: all 0.3s ease;
        line-height: 1;
        padding: 0;
        margin: 0;
    }
}

.letter-frontend-0 {
    width: 95px;
}

.letter-frontend-1 {
    width: 85px;
}

.letter-frontend-2 {
    width: 90px;
}

.letter-frontend-3 {
    width: 90px;
}

.letter-frontend-4 {
    width: 80px;
}

.letter-frontend-5 {
    width: 81px;
}

.letter-frontend-6 {
    width: 100px;
}

.letter-frontend-7 {
    width: 100px;
}

.letter-developer-0 {
    width: 123px;
}

.letter-developer-1 {
    width: 99px;
}

.letter-developer-2 {
    width: 108px;
}

.letter-developer-3 {
    width: 76px;
}

.letter-developer-4 {
    width: 78px;
}

.letter-developer-5 {
    width: 88px;
}

.letter-developer-6 {
    width: 112px;
}

.letter-developer-7 {
    width: 81px;
}

.letter-developer-8 {
    width: 81px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
    padding-left: 250px;
}

.hover-span {
    display: inline-flex;
    justify-content: center;
    align-items: flex-end; // wichtig für die vertikale Ausrichtung nach unten
    height: 150px;
    text-align: center;
    transition: transform 0.3s ease, color 0.3s ease;
    transform-origin: bottom; // sorgt dafür, dass die Skalierung von unten ausgeht
    transform: scaleY(1);
}

.hover-span:hover {
    transform: scaleY(1.2);
    color: orange;
}

.frontend-img-row {
    display: flex;
    gap: 90px;
}

.rotate-img {
    transform: rotate(7deg);
    transition: none !important;
    pointer-events: none;
}


.hero-right {
    text-align: right;
}

.hero-left {
    text-align: left;
    margin-right: 215px;
}

.reveal-button {
    position: relative;
    overflow: hidden;
    border: 2px solid rgb(255, 255, 255);
    background: transparent;
    color: white;
    border-radius: 999px;
    padding: 12px 32px;
    font-size: 21px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
    min-width: 180px;
    height: 48px;

    .default-text,
    .hover-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
        transition: transform 0.4s ease, opacity 0.4s ease;
    }

    .hover-text {
        opacity: 0;
        transform: translate(-50%, 150%);
    }

    &:hover {
        background: rgb(2, 27, 249);
        color: black;

        .default-text {
            opacity: 0;
            transform: translate(-50%, -150%);
        }

        .hover-text {
            opacity: 1;
            transform: translate(-50%, -50%);
        }
    }

    .wave {
        display: inline-block;
        animation: waveAnim 2s infinite;
    }
}

@keyframes waveAnim {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(14deg);
    }

    20% {
        transform: rotate(-8deg);
    }

    30% {
        transform: rotate(14deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60%,
    100% {
        transform: rotate(0deg);
    }
}

.get-in-touch-btn {
    background-color: #111;
    color: white;
    border: 2px solid white;
    border-radius: 999px;
    padding: 12px 28px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 0 #ccc;
    transition: all 0.2s ease;
}

.get-in-touch-btn:hover {
    background-color: #f47c5c;
    color: white;
    box-shadow: none;
    transform: translateY(2px);
}

footer {
    div {
        display: flex;
        flex-direction: column;
        max-width: 1440px;

        img {
            width: 50px;
            height: 50px;
        }
    }
}

.linked-up-buttons {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    gap: 10px;
}

.circle-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    position: relative;
    cursor: default;
}

.circle-button:hover {
    background-color: #007bff;
}

.circle-button img {
    width: 50px;
    height: 50px;
    z-index: 1;
    pointer-events: none;
}

.burger-menu {
    display: none;
    cursor: pointer;

}

.mobile-overlay {
    position: fixed;
    top: -230vh;
    left: 0;
    width: 100%;
    height: 50vh;
    background-image: url(/img/hero-burger-menu-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    gap: 80px;
    transition: top 0.4s ease;
}

.mobile-overlay.active {
    top: 0;
}

.overlay-header {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
}

.overlay-nav {
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 38%;
}

nav {

    a {
        text-decoration: none;
        color: white;
        font-weight: 600;
        font-size: 23px;
        margin-bottom: 60%;
        position: relative;
        z-index: 2;

        &:hover {
            color: #ff6a00;
        }
    }
}

.language-switch {
    display: flex;
    align-items: center;
    gap: 10px;

    .lang {
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: 14px;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;


        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ff6a00;
            border-radius: 34px;
            transition: 0.4s;

            &::before {
                position: absolute;
                content: "";
                height: 14px;
                width: 14px;
                left: 3px;
                bottom: 3px;
                background-color: rgb(0, 0, 255);
                border-radius: 50%;
                transition: 0.4s;
            }
        }

        input:checked+.slider {
            background-color: #4169e1;
        }

        input:checked+.slider::before {
            transform: translateX(20px);
        }
    }
}

.linked-up-buttons-overlay {
    display: flex;
    gap: 50px;
    max-width: 1440px;
    cursor: pointer;
}

.close-icon {
    cursor: pointer;
}

// macbook air max-height 
@media (max-height: 976px) {
    .container {
        padding: 0;
        margin: 0 auto;
        max-width: 1440px;
    }
}

@media (max-width: 1180px) {
    .container {
        padding: 250px 15%;
    }

    h1 {
        font-size: 117px;
    }

    .hero-content {
        padding-left: 0px;
        align-items: unset;

    }

    .hero-left {
        margin-right: 0px;
    }

    .frontend-img {
        position: relative;
        height: 0;
    }

    .rotate-img {
        position: absolute;
        bottom: -863px;
        left: -350px;
        transform: translateX(-50%) rotate(7deg);
        pointer-events: none;
        width: 314px;
    }

    .get-in-touch-btn {
        margin-top: 50px;
    }

    .linked-up-buttons {
        display: none;
    }

    .frontend-img-row {
        gap: 0px;
    }

    .letter-frontend-0 {
        width: 70px;
    }

    .letter-frontend-1 {
        width: 52px;
    }

    .letter-frontend-2 {
        width: 83px;
    }

    .letter-frontend-3 {
        width: 79px;
    }

    .letter-frontend-4 {
        width: 53px;
    }

    .letter-frontend-5 {
        width: 57px;
    }

    .letter-frontend-6 {
        width: 81px;
    }

    .letter-frontend-7 {
        width: 72px;
    }
}

@media (max-width: 930px) {
    .container {
        padding: 250px 10%;
    }

    .hero-right .hover-span {
        text-transform: uppercase !important;
    }


    .navigation,
    .language-switch {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .burger-menu {
        display: block;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        padding: 25px;
    }

    .logo {
        width: 80px;
    }

    .header-bar {
        display: none;
    }

    .get-in-touch-btn {
        margin-top: 40px;
        text-align: center;
    }
}

// ipad air max-width 
@media (max-width: 821px) {
    .container {
        padding: 20px 5%;
    }

    h1 {
        font-size: 100px;
    }

    .hover-word {
        height: 120px;
    }

    .hover-span {
        height: 125px;
    }

    .rotate-img {
        position: absolute;
        bottom: -800px;
        left: -146px;
        transform: translateX(-50%) rotate(7deg);
        pointer-events: none;
        width: 314px;
    }

    .letter-frontend-0 {
        width: 60px;
    }

    .letter-frontend-1 {
        width: 70px;
    }

    .letter-frontend-2 {
        width: 60px;
    }

    .letter-frontend-3 {
        width: 80px;
    }

    .letter-frontend-4 {
        width: 50px;
    }

    .letter-frontend-5 {
        width: 70px;
    }

    .letter-frontend-6 {
        width: 70px;
    }

    .letter-frontend-7 {
        width: 70px;
    }

    .letter-developer-0 {
        width: 71px;
    }

    .letter-developer-1 {
        width: 81px;
    }

    .letter-developer-2 {
        width: 77px;
    }

    .letter-developer-3 {
        width: 73px;
    }

    .letter-developer-4 {
        width: 85px;
    }

    .letter-developer-5 {
        width: 70px;
    }

    .letter-developer-6 {
        width: 90px;
    }

    .letter-developer-7 {
        width: 60px;
    }

    .letter-developer-8 {
        width: 103px;
    }
}

@media (max-width: 675px) {
    h1 {
        font-size: 83px;
    }

    .letter-frontend-0 {
        width: 33px;
    }

    .letter-frontend-1 {
        width: 52px;
    }

    .letter-frontend-2 {
        width: 43px;
    }

    .letter-frontend-3 {
        width: 59px;
    }

    .letter-frontend-4 {
        width: 32px;
    }

    .letter-frontend-5 {
        width: 52px;
    }

    .letter-frontend-6 {
        width: 50px;
    }

    .letter-frontend-7 {
        width: 53px;
    }

    .rotate-img {
        position: absolute;
        bottom: -868px;
        left: -126px;
        transform: translateX(-50%) rotate(7deg);
        pointer-events: none;
        width: 314px;
    }

    .get-in-touch-btn {
        margin-top: 50px;
    }
}

// pixel 7 pro max-width 
@media (max-width: 500px) {
    .container {
        padding: 20px 10%;
    }

    h1 {
        font-size: 60px;
    }

    .hover-word {
        height: 90px;
    }

    .hover-span {
        height: 95px;
    }

    .rotate-img {
        position: absolute;
        bottom: -660px;
        left: -116px;
        transform: translateX(-50%) rotate(7deg);
        pointer-events: none;
        width: 247px;
    }

    .letter-frontend-0 {
        width: 30px;
    }

    .letter-frontend-1 {
        width: 40px;
    }

    .letter-frontend-2 {
        width: 30px;
    }

    .letter-frontend-3 {
        width: 40px;
    }

    .letter-frontend-4 {
        width: 30px;
    }

    .letter-frontend-5 {
        width: 40px;
    }

    .letter-frontend-6 {
        width: 40px;
    }

    .letter-frontend-7 {
        width: 40px;
    }
}

// iphone 14pro max-width
@media (max-width: 430px) {
    .container {
        padding: 20px 10%;
    }

    h1 {
        font-size: 55px;
    }

    .hover-word {
        height: 72px;
    }

    .hover-span {
        height: 75px;
    }

    .rotate-img {
        position: absolute;
        bottom: -598px;
        left: -126px;
        transform: translateX(-50%) rotate(7deg);
        pointer-events: none;
        width: 247px;
    }

    .letter-frontend-0 {
        width: 30px;
    }

    .letter-frontend-1 {
        width: 40px;
    }

    .letter-frontend-2 {
        width: 30px;
    }

    .letter-frontend-3 {
        width: 40px;
    }

    .letter-frontend-4 {
        width: 30px;
    }

    .letter-frontend-5 {
        width: 40px;
    }

    .letter-frontend-6 {
        width: 40px;
    }

    .letter-frontend-7 {
        width: 40px;
    }
}

// iphone 14pro MAX max-width
@media (max-width: 412px) {
    .container {
        padding: 20px 10%;
    }

    h1 {
        font-size: 50px;
    }

    .hover-word {
        height: 60px;
    }

    .hover-span {
        height: 65px;
    }

    .rotate-img {
        position: absolute;
        bottom: -550px;
        left: -126px;
        transform: translateX(-50%) rotate(7deg);
        pointer-events: none;
        width: 247px;
    }

    .letter-frontend-0 {
        width: 30px;
    }

    .letter-frontend-1 {
        width: 40px;
    }

    .letter-frontend-2 {
        width: 30px;
    }

    .letter-frontend-3 {
        width: 40px;
    }

    .letter-frontend-4 {
        width: 30px;
    }

    .letter-frontend-5 {
        width: 40px;
    }

    .letter-frontend-6 {
        width: 40px;
    }

    .letter-frontend-7 {
        width: 40px;
    }
}