<section class="hero-section">
    <app-header-bar class="header-bar"></app-header-bar>
    <div class="burger-menu" (click)="toggleMenu()">
        <img class="logo" src="/img/AK_logo.png" alt="AK_logo">
        <img class="burger-menu-img" src="/img/hero-burger-menu-logo.svg" alt="menu" />
    </div>

    <div class="container">
        <div class="hero-content">
            <div class="hero-left">
                <button class="reveal-button">
                    <span class="default-text">Hello world</span>
                    <span class="hover-text">I'm Alpay Karacabey <span class="wave">👋</span></span>
                </button>
                <div class="frontend-img-row">
                    <h1 class="hover-word">
                        <span class="hover-span letter-{{i}}" *ngFor="let letter of frontend; let i = index"
                            (mouseenter)="hoveredFrontendIndex = i" (mouseleave)="hoveredFrontendIndex = null"
                            [ngStyle]="{
    color: hoveredFrontendIndex === i ? 'yellow' : 'white',
    textTransform: hoveredFrontendIndex === i 
        ? (i === 0 ? 'lowercase' : 'uppercase') 
        : (i === 0 ? 'uppercase' : 'lowercase')
    }">
                            {{ letter.lower }}
                        </span>
                    </h1>

                    <div class="frontend-img">
                        <img class="rotate-img" src="/img/hero_alpay_img_filler.png">
                    </div>
                </div>
            </div>

            <div class="hero-right">
                <h1 class="hover-word">
                    <span class="hover-span" *ngFor="let letter of developer; let i = index"
                        (mouseenter)="hoveredDeveloperIndex = i" (mouseleave)="hoveredDeveloperIndex = null" [ngStyle]="{
    color: hoveredDeveloperIndex === i ? 'yellow' : 'white',
    textTransform: hoveredDeveloperIndex === i 
        ? (i === 0 ? 'lowercase' : 'uppercase') 
        : (i === 0 ? 'uppercase' : 'lowercase')
    }">
                        {{ letter.lower }}
                    </span>
                </h1>

                <button class="get-in-touch-btn">Get in Touch</button>
            </div>
        </div>


        <div class="linked-up-buttons">
            <div class="circle-button">
                <img src="/img/hero_linked_in.png" alt="LinkedIn">
            </div>
            <div class="circle-button">
                <img src="/img/hero_github.png" alt="GitHub">
            </div>
            <div class="circle-button">
                <img src="/img/hero_mail.png" alt="Mail">
            </div>
        </div>



    </div>
</section>

<div class="mobile-overlay" [class.active]="menuOpen">
    <div class="overlay-header">
        <img src="/img/AK_logo.png" class="logo" />
        <div class="close-icon" (click)="toggleMenu()">×</div>
    </div>

    <nav class="overlay-nav">
        <a href="#">About me</a>
        <a href="#">Skills</a>
        <a href="#">Projects</a>
        <a href="#">Contact</a>
    </nav>

    <div class="language-switch">
        <span class="lang">EN</span>
        <label class="switch">
            <input type="checkbox" id="langToggle">
            <span class="slider"></span>
        </label>
        <span class="lang">DE</span>
    </div>

    <div class="linked-up-buttons">
        <div class="circle-button">
            <img src="/img/hero_linked_in.png" alt="LinkedIn">
        </div>
        <div class="circle-button">
            <img src="/img/hero_github.png" alt="GitHub">
        </div>
        <div class="circle-button">
            <img src="/img/hero_mail.png" alt="Mail">
        </div>
    </div>
</div>