<section>
    <div class="section-all">
        <div class="left-part">
            <div>
                <div>
                    <h3>{{ texts[currentLang()].kicker }}</h3>
                    <h1>{{ texts[currentLang()].heading }}</h1>
                </div>
                <span>
                    {{ texts[currentLang()].body }}
                </span>
            </div>
        </div>

        <div class="right-part">
            <app-contactform></app-contactform>
        </div>
    </div>

    <div class="left-part-logo-sec">
        <img src="/img/AK_logo.png" width="100" height="100" alt="AK Logo">
        <span>{{ texts[currentLang()].copyright }}</span>
    </div>

    <app-footer></app-footer>
</section>