<section>
    <div class="section-all">
        <div class="left-part">
            <div>
                <div>
                    <h3>KONTAKTIERE MICH</h3>
                    <h1>Bereit für eine Zusammenarbeit?</h1>
                </div>
                <span>
                    Du suchst jemanden, der nicht nur Code schreibt, sondern auch mitdenkt?
                    Ich bin bereit, gemeinsam mit dir neue Ideen umzusetzen, Herausforderungen anzupacken
                    und aus Visionen echte Projekte werden zu lassen.
                    Ob für ein Teamprojekt, ein spannendes Startup oder ein persönliches Herzensprojekt –
                    lass uns zusammen etwas schaffen, das wirklich begeistert.
                </span>
            </div>
        </div>

        <div class="right-part">
            <app-contactform></app-contactform>
        </div>
    </div>
    <div class="left-part-logo-sec">
        <img src="/img/AK_logo.png" width="100px" height="100px">
        <span>
            © Alpay Karacabey 2025
        </span>
    </div>
    <app-footer></app-footer>
</section>