<section>
    <div class="section-all">
        <div class="left-part">
            <div>
                <div>
                    <h3>CONTACT ME</h3>
                    <h1>Ready to work together?</h1>
                </div>
                <span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima vitae laborum ea et nulla totam eos
                    eaque quod perspiciatis corrupti maxime, adipisci tenetur minus! Quo, deleniti ab. Vel, quisquam.
                    Suscipit.
                    m dolor sit amet consectetur adipisicing elit. Minima vitae laborum ea et nulla totam eos eaque quod
                    perspiciatis corrupti maxime, adipisci tenetur minus! Quo, deleniti ab. Vel, quisquam. Suscipit.
                    m dolor sit amet consectetur adipisicing elit. Minima vitae laborum ea et nulla totam eos eaque quod
                    perspiciatis corrupti maxime, adipisci tenetur minus! Quo, deleniti ab. Vel, quisquam. Suscipit.
                </span>
                <div class="left-part-logo-sec">
                    <img src="/img/AK_logo.png" width="100px" height="100px">
                    <span>
                        © Alpay Karacabey 2025
                    </span>
                </div>
            </div>
        </div>

        <div class="right-part">
            <app-contactform></app-contactform>
        </div>
    </div>
    <app-footer></app-footer>
</section>