@media (max-height: 1200px) {
    section {
        margin: 100px 30px 50px 30px;

        h1 {
            font-size: clamp(30px, 5vw + 1rem, 50px);
        }
    }

    .orange-cards {
        align-items: center;

        div {
            margin-left: 0;
            margin-bottom: 20px;

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                margin-left: 0;
                z-index: auto;
            }
        }
    }

    .orange-cards {
        .card-content.card-1 {
            top: 0px;
            left: 0px;
        }

        .card-content.card-2 {
            top: 0px;
            left: 0px;
        }

        .card-content.card-3 {
            top: 0px;
            left: 0px;
        }
    }

    .orange-cards {
        .card-footer {
            left: 20px;
            bottom: 20px;
            text-align: center;
        }
    }
}

@media (max-height: 1024px) {

    .quote {
        font-size: clamp(16px, 1.5vw, 16px);
    }

    .card-content.card-1 {
        top: -5px;
        left: 0px !important;
    }

    .card-content.card-2 {
        top: -5px;
        left: 0px !important;
    }

    .card-content.card-3 {
        top: -5px;
        left: 0px !important;
    }

    .orange-cards {
        .card-footer {
            left: 20px;
            bottom: 0px;
            text-align: center;
        }
    }
}

@media (max-height: 820px) {
    section {
        margin: 80px 20px 50px 20px;

        h1 {
            font-size: clamp(30px, 5vw + 1rem, 50px);
        }
    }

    .orange-cards {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-height: 667px) {
    section {
        margin: 50px 20px;

        h1 {
            font-size: clamp(30px, 5vw + 1rem, 50px);
        }

        img {
            width: 20%;
        }

    }

    .top-section {
        text-align: end;
    }

    .orange-cards {
        flex-direction: column;
        align-items: center;

        div {
            margin-left: 0;
            margin-bottom: 20px;

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                margin-left: 0;
                z-index: auto;
            }
        }

        .card-content {
            div {
                img {
                    top: -50px;
                }
            }
        }
    }
}

@media (max-height: 658px) {
    section {
        margin: 50px 20px;

        h1 {
            font-size: 30px;
        }
    }

    .top-section {
        width: 100%;
        text-align: center;
    }

    .orange-cards {
        flex-direction: column;
        align-items: center;

        div {
            margin-left: 0;
            margin-bottom: 20px;

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                margin-left: 0;
                z-index: auto;
            }
        }
    }
}