<section>
    <div class="container">
        <div class="left-container">
            <div class="yellow-location">
                <div class="yellow-location-inner">
                    <img class="yellow-inner-img" src="/img/about-me-locations-yellow.png">
                    <span>{{ texts[currentLang()].yellow }}</span>
                </div>
            </div>

            <div class="blue-location">
                <div class="blue-location-inner">
                    <img class="blue-inner-img" src="/img/about-me-locations-blue.png">
                    <span>{{ texts[currentLang()].blue }}</span>
                </div>
            </div>

            <div class="orange-location">
                <div class="orange-location-inner">
                    <img class="orange-inner-img" src="/img/about-me-locations-orange.png">
                    <span>{{ texts[currentLang()].orange }}</span>
                </div>
            </div>
        </div>

        <div class="right-container">
            <h2>{{ texts[currentLang()].who }}</h2>
            <h1 class="ueber-mich-heading">
                {{ texts[currentLang()].title }}
                <span id="blueLine" class="blue-underline"></span>
            </h1>

            <p [innerHTML]="texts[currentLang()].paragraph1"></p>
            <p [innerHTML]="texts[currentLang()].paragraph2"></p>

            <a href="#contact" class="get-in-touch-btn">
                {{ texts[currentLang()].button }}
            </a>
        </div>
    </div>
</section>