<section>
    <div class="gap">
        <img src="/img/about-me-locations.png">

        <div>
            <h2>WHO'S ALPAY</h2>
            <h1>About me</h1>
            <p>
                <strong>Hi, ich bin Alpay, angehender Frontend-Entwickler aus München.</strong><br>
                Ich kombiniere technisches Know-how mit einem Auge für gutes Design. Aktuell mache ich eine Weiterbildung
                zum Frontend-Entwickler und vertiefe mein Wissen in <strong>HTML, CSS, JavaScript</strong> und
                <strong>Angular</strong>.<br>
                Mein Ziel: Fuß in der IT-Welt fassen und als Junior Developer durchstarten.
            </p>

            <p>
                In meiner Freizeit zocke ich gern, tüftle am PC und helfe Freunden bei technischen Problemen –
                <strong>Teamwork</strong> ist für mich nicht nur im Job selbstverständlich.
            </p>

            <button class="get-in-touch-btn">Let's talk</button>
        </div>
        
    </div>
</section>