<section>
    <div class="flex">
        <div class="first-box">
            <h3>MY STACK</h3>
            <h1 class="circle-hover">Skill set</h1>
        </div>

        <div class="middle-box-content">
            <img class="skill-sett-img" src="/img/skill-set-span-background.png">

            <div class="language-img-box">

                <div class="skill-set-img-box">
                    <img src="/img/html.png" alt="html" width="100px" height="100px">
                    <span>HTML</span>
                </div>

                <div class="skill-set-img-box">
                    <img src="/img/css.png" alt="css" width="100px" height="100px">
                    <span>CSS</span>
                </div>

                <div class="skill-set-img-box">
                    <img src="/img/javascript.png" alt="javascript" width="100px" height="100px">
                    <span>JavaScript</span>
                </div>

                <div class="skill-set-img-box">
                    <img src="/img/typescript.png" alt="typescript" width="100px" height="100px">
                    <span>TypeScript</span>
                </div>

                <div class="skill-set-img-box">
                    <img src="/img/angular.png" alt="angular" width="100px" height="100px">
                    <span>Angular</span>
                </div>

                <div class="skill-set-img-box">
                    <img src="/img/firebase.png" alt="firebase" width="100px" height="100px">
                    <span>Firebase</span>
                </div>

                <div class="skill-set-img-box">
                    <img src="/img/git.png" alt="git" width="100px" height="100px">
                    <span>Git</span>
                </div>

                <div class="skill-set-img-box">
                    <img src="/img/rest-api.png" alt="rest-api" width="100px" height="100px">
                    <span>Rest-Api</span>
                </div>

                <div class="skill-set-img-box">
                    <img src="/img/scrum.png" alt="scrum" width="100px" height="100px">
                    <span>Scrum</span>
                </div>

                <div class="skill-set-img-box">
                    <img src="/img/material-design.png" alt="material-design" width="100px" height="100px">
                    <span>Material Design</span>
                </div>
            </div>

        </div>
        <div class="peel-wrapper">
            <img src="/img/pull-to-peel-1.svg" class="peel-img default">
            <img src="/img/pull-to-peel-2.svg" class="peel-img mid">
            <img src="/img/pull-to-peel-3.svg" class="peel-img full">
        </div>
        <div>

        </div>
    </div>
</section>