<div class="privacy-body">
    <app-header-bar class="header"></app-header-bar>

    <div class="burger-menu">
        <a routerLink="/">
            <img class="logo" src="/img/AK_logo.png" alt="AK_logo" />
        </a>
        <img class="burger-menu-img" src="/img/hero-burger-menu-logo.svg" alt="menu" (click)="toggleMenu()" />
    </div>

    <section class="privacy-wrapper">
        <div class="privacy">
            <h1>{{ texts[currentLang()].title }}</h1>
            <p>{{ texts[currentLang()].intro }}</p>

            <h2>{{ texts[currentLang()].section1 }}</h2>
            <p>
                <strong>{{ texts[currentLang()].name }}</strong><br />
                <strong>{{ texts[currentLang()].address }}</strong><br />
                <strong>{{ texts[currentLang()].email }}</strong>
            </p>

            <h2>{{ texts[currentLang()].section2 }}</h2>
            <p>{{ texts[currentLang()].section2Text }}</p>
            <ul>
                <li *ngFor="let item of texts[currentLang()].data">{{ item }}</li>
            </ul>

            <h2>{{ texts[currentLang()].section3 }}</h2>
            <p>{{ texts[currentLang()].section3Text }}</p>

            <h2>{{ texts[currentLang()].section4 }}</h2>
            <p>{{ texts[currentLang()].section4Text }}</p>

            <h2>{{ texts[currentLang()].section5 }}</h2>
            <p>{{ texts[currentLang()].section5Intro }}</p>
            <ul>
                <li *ngFor="let right of texts[currentLang()].rights">{{ right }}</li>
            </ul>

            <h2>{{ texts[currentLang()].section6 }}</h2>
            <p>{{ texts[currentLang()].section6Text }}</p>

            <h2>{{ texts[currentLang()].section7 }}</h2>
            <p>{{ texts[currentLang()].section7Text }}</p>

            <h2>{{ texts[currentLang()].section8 }}</h2>
            <p>{{ texts[currentLang()].section8Text }}</p>

            <h2>{{ texts[currentLang()].section9 }}</h2>
            <p>{{ texts[currentLang()].section9Text }}</p>
        </div>
    </section>

    <app-footer></app-footer>
</div>

<div class="mobile-overlay" [class.active]="menuOpen">
    <div class="overlay-header">
        <img routerLink="/" src="/img/AK_logo.png" class="logo" />
        <img class="close-icon" (click)="toggleMenu()" src="/img/close-overlay.png" alt="close" />
    </div>

    <div class="overlay-nav-container">
        <nav class="overlay-nav">
            <a href="#about" (click)="toggleMenu()">{{ _texts[currentLang()].about }}</a>
            <a href="#skills" (click)="toggleMenu()">{{ _texts[currentLang()].skills }}</a>
            <a href="#projects" (click)="toggleMenu()">{{ _texts[currentLang()].projects }}</a>
            <a href="#contact" (click)="toggleMenu()">{{ _texts[currentLang()].contact }}</a>
        </nav>
    </div>

    <div class="language-switch">
        <span class="lang en">EN</span>
        <label class="switch">
            <input type="checkbox" (change)="switchLanguage()" [checked]="currentLang() === 'en'" />
            <span class="slider"></span>
        </label>
        <span class="lang de">DE</span>
    </div>

    <div class="linked-up-buttons-overlay">
        <div class="circle-button">
            <a href="https://www.linkedin.com/feed/">
                <img src="/img/hero_linked_in.png" alt="LinkedIn" />
            </a>
        </div>

        <div class="circle-button">
            <a href="https://github.com/alpay66" target="_blank">
                <img src="/img/hero_github.png" alt="GitHub" />
            </a>
        </div>

        <div class="circle-button">
            <a href="mailto:alpay.karacabey@hotmail.com">
                <img src="/img/hero_mail.png" alt="Mail" />
            </a>
        </div>
    </div>
</div>