<div class="privacy-body">
    <app-header-bar></app-header-bar>

    <section class="privacy-wrapper">
        <div class="privacy">
            <h1>{{ texts[currentLang()].title }}</h1>
            <p>{{ texts[currentLang()].intro }}</p>

            <h2>{{ texts[currentLang()].section1 }}</h2>
            <p>
                <strong>{{ texts[currentLang()].name }}</strong><br />
                <strong>{{ texts[currentLang()].address }}</strong><br />
                <strong>{{ texts[currentLang()].email }}</strong>
            </p>

            <h2>{{ texts[currentLang()].section2 }}</h2>
            <p>{{ texts[currentLang()].section2Text }}</p>
            <ul>
                <li *ngFor="let item of texts[currentLang()].data">{{ item }}</li>
            </ul>

            <h2>{{ texts[currentLang()].section3 }}</h2>
            <p>{{ texts[currentLang()].section3Text }}</p>

            <h2>{{ texts[currentLang()].section4 }}</h2>
            <p>{{ texts[currentLang()].section4Text }}</p>

            <h2>{{ texts[currentLang()].section5 }}</h2>
            <p>{{ texts[currentLang()].section5Intro }}</p>
            <ul>
                <li *ngFor="let right of texts[currentLang()].rights">{{ right }}</li>
            </ul>

            <h2>{{ texts[currentLang()].section6 }}</h2>
            <p>{{ texts[currentLang()].section6Text }}</p>

            <h2>{{ texts[currentLang()].section7 }}</h2>
            <p>{{ texts[currentLang()].section7Text }}</p>

            <h2>{{ texts[currentLang()].section8 }}</h2>
            <p>{{ texts[currentLang()].section8Text }}</p>

            <h2>{{ texts[currentLang()].section9 }}</h2>
            <p>{{ texts[currentLang()].section9Text }}</p>
        </div>
    </section>

    <app-footer></app-footer>
</div>