<div class="overlay" (click)="handleOverlayClick()">
    <div class="overlay-background" [class.active]="menuOpen" (click)="toggleMenu()">
        <div class="overlay-content" (click)="$event.stopPropagation()">
            <p class="close-btn-container">
                <a class="close-btn" (click)="close()">
                    <img src="/img/go-back-arrow.png"> {{ texts[currentLang()].back }}</a>
            </p>
            
            <app-header-bar (linkClicked)="close()"></app-header-bar>
            <div class="burger-menu-mobile">
                <a routerLink="/" (click)="close()">
                    <img class="logo" src="/img/AK_logo.png" alt="AK_logo">
                </a>
                <img class="burger-menu-img" (click)="toggleMenu()" src="/img/hero-burger-menu-logo.svg" alt="menu" />
            </div>

            <div class="overlay-container">
                <div class="left-side">
                    <h1>
                        {{ project.title }}
                    </h1>

                    <div>
                        <h3>
                            {{ texts[currentLang()].description }}
                        </h3>

                        <p>
                            {{ project.description[currentLang()] }}
                        </p>
                    </div>

                    <div>
                        <h3>
                            {{ texts[currentLang()].details }}
                        </h3>

                        <p>
                            {{ project.details[currentLang()] }}
                        </p>
                    </div>

                    <p>
                        {{ project.duration[currentLang()] }}
                    </p>

                    <div class="left-side-skills">
                        <div *ngFor="let skill of project.skills">
                            <img [src]="'/img/' + skill.toLowerCase() + '.png'" [alt]="skill" width="30" height="30">
                            <p>{{ skill.toUpperCase() }}</p>
                        </div>
                    </div>
                </div>

                <div class="right-side">
                    <div class="right-side-image-container">
                        <img class="right-side-image" [src]="project.image" [alt]="project.title">
                    </div>

                    <div class="right-side-buttons">

                        <a [href]="project.githubLink" target="_blank">
                            <button>{{ texts[currentLang()].github }}</button>
                        </a>

                        <a [href]="project.liveLink" target="_blank">
                            <button>{{ texts[currentLang()].live }}</button>
                        </a>
                    </div>

                    <div class="right-side-next-button">
                        <a class="close-btn-mobile" (click)="close()">
                            <img src="/img/go-back-arrow.png" alt=""> {{ texts[currentLang()].back }}
                        </a>

                        <a class="next-project" (click)="next()"> {{ texts[currentLang()].next }}<img
                                src="/img/next-project.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mobile-overlay" [class.active]="menuOpen" (click)="$event.stopPropagation()">
        <div class="overlay-header">
            <img src="/img/AK_logo.png" class="logo" />
            <img class="close-icon" (click)="toggleMenu()" src="/img/close-overlay.png" alt="close">
        </div>

        <div class="overlay-nav-container">
            <nav class="overlay-nav">
                <a href="#about" (click)="onMobileNavClick()">About me</a>
                <a href="#skills" (click)="onMobileNavClick()">Skills</a>
                <a href="#project" (click)="onMobileNavClick()">Projects</a>
                <a href="#contact" (click)="onMobileNavClick()">Contact</a>
            </nav>

        </div>


        <div class="language-switch">
            <span class="lang">EN</span>
            <label class="switch">
                <input type="checkbox" id="langToggle">
                <span class="slider"></span>
            </label>
            <span class="lang">DE</span>
        </div>

        <div class="linked-up-buttons-overlay">
            <div class="circle-button">
                <a href="https://www.linkedin.com/feed/">
                    <img src="/img/hero_linked_in.png" alt="LinkedIn">
                </a>
            </div>

            <div class="circle-button">
                <a href="https://github.com/alpay66" target="_blank">
                    <img src="/img/hero_github.png" alt="GitHub">
                </a>
            </div>

            <div class="circle-button">
                <a href="mailto:alpay.karacabey@hotmail.com">
                    <img src="/img/hero_mail.png" alt="Mail">
                </a>
            </div>
        </div>
    </div>