<div class="legal-body">
    <app-header-bar class="header"></app-header-bar>
    <div class="burger-menu">
        <a routerLink="/">
            <img class="logo" src="/img/AK_logo.png" alt="AK_logo">
        </a>
        <img class="burger-menu-img" (click)="toggleMenu()" src="/img/hero-burger-menu-logo.svg" alt="menu" />
    </div>


    <section class="legal-wrapper">
        <div class="legal">
            <h1>{{ texts[currentLang()].title }}</h1>

            <h2>{{ texts[currentLang()].section1 }}</h2>
            <p>{{ texts[currentLang()].address }}</p>

            <h2>{{ texts[currentLang()].section2 }}</h2>
            <p>
                {{ texts[currentLang()].phone }}<br />
                {{ texts[currentLang()].email }}
            </p>

            <h2>{{ texts[currentLang()].section3 }}</h2>
            <p>{{ texts[currentLang()].address }}</p>

            <h2>{{ texts[currentLang()].section4 }}</h2>
            <p>{{ texts[currentLang()].section4Text }}</p>

            <h2>{{ texts[currentLang()].section5 }}</h2>
            <p>{{ texts[currentLang()].section5Text }}</p>

            <h2>{{ texts[currentLang()].section6 }}</h2>
            <p>{{ texts[currentLang()].section6Text }}</p>
        </div>
    </section>

    <app-footer></app-footer>
</div>

<div class="mobile-overlay" [class.active]="menuOpen">
    <div class="overlay-header">
        <img routerLink="/" src="/img/AK_logo.png" class="logo" />
        <img class="close-icon" (click)="toggleMenu()" src="/img/close-overlay.png" alt="close">
    </div>

    <div class="overlay-nav-container">
        <nav class="overlay-nav">
            <a href="#about" (click)="toggleMenu()">{{ _texts[currentLang()].about }}</a>
            <a href="#skills" (click)="toggleMenu()">{{ _texts[currentLang()].skills }}</a>
            <a href="#projects" (click)="toggleMenu()">{{ _texts[currentLang()].projects }}</a>
            <a href="#contact" (click)="toggleMenu()">{{ _texts[currentLang()].contact }}</a>
        </nav>

    </div>


    <div class="language-switch">
        <input id="langToggle" type="checkbox" (change)="switchLanguage()" [checked]="currentLang() === 'de'" />
        <span class="lang en">EN</span>
        <label class="switch" for="langToggle"><span class="slider"></span></label>
        <span class="lang de">DE</span>
    </div>


    <div class="linked-up-buttons-overlay">
        <div class="circle-button">
            <a href="https://www.linkedin.com/feed/">
                <img src="/img/hero_linked_in.png" alt="LinkedIn">
            </a>
        </div>

        <div class="circle-button">
            <a href="https://github.com/alpay66" target="_blank">
                <img src="/img/hero_github.png" alt="GitHub">
            </a>
        </div>

        <div class="circle-button">
            <a href="mailto:alpay.karacabey@hotmail.com">
                <img src="/img/hero_mail.png" alt="Mail">
            </a>
        </div>
    </div>
</div>