<section>
    <div class="top-section">
        <div>
            <img src="/img/blue-arrow-thoughts.svg" alt="Gedanken-Pfeil" />
            <span>{{ texts[currentLang()].subtitle }}</span>
        </div>
        <div>
            <h1>{{ texts[currentLang()].heading }}</h1>
        </div>
    </div>

    <div class="orange-cards">
        <div class="thought-card">
            <img src="/img/toughts-orange-card-background.png" />
            <div class="card-content card-1">
                <p class="quote rotated">{{ texts[currentLang()].quotes[0].text }}</p>
                <div class="card-footer">
                    <a [href]="texts[currentLang()].quotes[0].linkedin" target="_blank">{{
                        texts[currentLang()].quotes[0].name }}</a>
                    <p>{{ texts[currentLang()].quotes[0].role }}</p>
                </div>
                <div>
                    <a href="#" target="_blank"><img src="/img/linked-in-thoughts.svg" alt="icon" /></a>
                </div>
            </div>
        </div>

        <div class="thought-card">
            <img src="/img/toughts-orange-card-background.png" />
            <div class="card-content card-2">
                <p class="quote">{{ texts[currentLang()].quotes[1].text }}</p>
                <div class="card-footer">
                    <a [href]="texts[currentLang()].quotes[1].linkedin" target="_blank">{{
                        texts[currentLang()].quotes[1].name }}</a>
                    <p>{{ texts[currentLang()].quotes[1].role }}</p>
                </div>
                <div>
                    <a href="#" target="_blank"><img src="/img/linked-in-thoughts.svg" alt="icon" /></a>
                </div>
            </div>
        </div>

        <div class="thought-card">
            <img src="/img/toughts-orange-card-background.png" />
            <div class="card-content card-3">
                <p class="quote rotated-2">{{ texts[currentLang()].quotes[2].text }}</p>
                <div class="card-footer">
                    <a [href]="texts[currentLang()].quotes[2].linkedin" target="_blank">{{
                        texts[currentLang()].quotes[2].name }}</a>
                    <p>{{ texts[currentLang()].quotes[2].role }}</p>
                </div>
                <div>
                    <a href="#" target="_blank"><img src="/img/linked-in-thoughts.svg" alt="icon" /></a>
                </div>
            </div>
        </div>
    </div>
</section>