<section>
    <div class="top-section">
        <div>
            <img src="/img/blue-arrow-thoughts.svg" alt="thoughts-arrow">
            <span>IN THEIR WORDS:</span>
        </div>

        <div>
            <h1>Colleagues' Thoughts</h1>
        </div>
    </div>

    <div class="orange-cards">
        <div><img src="/img/toughts-orange-card-background.png" /></div>
        <div><img src="/img/toughts-orange-card-background.png" /></div>
        <div><img src="/img/toughts-orange-card-background.png" /></div>
    </div>

</section>