@media (max-width: 1180px) {
    .container {
        padding: 124px 146px 0px 100px;
    }

    .hero-content {
        padding-left: 0px;
        align-items: unset;
    }

    .hero-left {
        margin-right: 0px;
    }

    .frontend-img {
        position: relative;
        height: 0;
    }

    .rotate-img {
        transform: rotate(11deg);
        width: 35%;
        margin-top: 30px;
        display: flex;
        left: 25%;
    }

    .get-in-touch-btn {
        margin-top: 50px;
    }

    .linked-up-buttons {
        display: none;
    }

    .frontend-img-row {
        gap: 0px;
    }

    .letter-frontend-0 {
        width: 70px;
    }

    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }
}

@media (max-width: 930px) {
    .hero-right .hover-span {
        text-transform: uppercase !important;
    }

    .navigation,
    .language-switch {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .burger-menu {
        display: block;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        padding: 25px;
    }

    .logo {
        width: 80px;
    }

    .header-bar {
        display: none;
    }

    .get-in-touch-btn {
        margin-top: 40px;
        text-align: center;
    }
}

@media (max-width: 850px) {
    .hover-word {
        span {
            width: 65px;
        }
    }
}

@media (max-width: 821px) {
    .container {
        padding: 78px 142px 0px 84px;
    }

    .hover-word {
        height: 120px;
    }

    .hover-span {
        height: 125px;
    }

    .letter-frontend-0 {
        width: 60px;
    }

    .letter-developer-0 {
        width: 71px;
    }
}

@media (max-width: 700px) {
    .frontend-img-row {
        width: 0px;

    }
}

@media (max-width: 675px) {
    h1 {
        font-size: 83px;
    }

    .letter-frontend-0 {
        width: 33px;
    }

    .get-in-touch-btn {
        margin-top: 25px;
    }
}

@media (max-width: 640px) {
    .hero-section {
        height: 80vh;
    }

    .hover-word {
        span {
            width: 40px;
            height: 100px;
        }
    }

    .container {
        padding: 20px 19%;
    }

    .hover-span {
        font-size: clamp(60px, calc(3vw + 0.5rem), 40px);
    }

    .letter-frontend-0 {
        width: 40px;
    }

    .letter-developer-0 {
        width: 41px;
    }
}

@media (max-width: 500px) {
    .container {
        padding: 20px 10%;
    }

    h1 {
        font-size: 60px;
    }

    .hover-word {
        height: 90px;
    }

    .hover-span {
        height: 95px;
        font-size: clamp(51px, calc(3vw + 0.5rem), 32px);
    }

    .letter-frontend-0 {
        width: 30px;
    }
}

@media (max-width: 414px) {
    .hover-word {
        span {
            width: 40px;
            height: 105px;
        }
    }

    .get-in-touch-btn {
        margin-top: 90px
    }
}

@media (max-width: 375px) {
    .hover-word {
        span {
            width: 30px;
            height: 85px;
        }
    }

    .get-in-touch-btn {
        margin-top: 35px
    }
}

@media (max-width: 360px) {
    .hover-word {
        span {
            width: 30px;
            height: 65px;
        }
    }

    .get-in-touch-btn {
        margin-top: 20px
    }
}

@media (max-width: 340px) {
    .hero-section {
        height: 60vh;
    }

    .hover-word {
        span {
            width: 30px;
            height: 65px;
        }
    }

    .get-in-touch-btn {
        margin-top: 0px
    }

    .hover-span {
        font-size: clamp(40px, calc(3vw + 0.5rem), 32px);
    }

}
